.container {
  border: 0;
  background-color: midnightblue;
  display: block;
  transform: translateY(300px);
  width: 210px;
  height: 235px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 -60px 0 0 mix(midnightblue, black, 60%);
  z-index: 2;
}

.lockRing {
  position: relative;
  margin: auto;
  transform: translateY(270px);
  display: block;
  width: 120px;
  height: 90px;
  border: 20px solid gray;
  border-bottom: 0;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background-color: transparent;
  z-index: 1;

  &.unlocked {
    transform: translateY(230px);
  }

  .lockRingBottom {
    position: absolute;
    margin: auto;
    display: block;
    width: 20px;
    height: 20px;
    background-color: gray;
    border-radius: 10px;
    &.a {
      transform: translate(-20px, 80px);
      &.unlocked {
        height: 60px;
      }
    }
    &.b {
      transform: translate(120px, 80px);
    }
  }
}

.lockpad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translateY(35px);
}

.try {
  // justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.submit {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 45px);
  display: block;
  width: 70px;
  height: 27px;
  border: 0;
  border-radius: 2px;
  background-color: mix(coral, black, 90%);
  box-shadow: 0 -6px 0 0 mix(coral, black, 70%);
  transition: ease-out 0.1s;
  &:disabled {
    background-color: grayscale(mix(coral, black, 90%));
    box-shadow: 0 -6px 0 0 grayscale(mix(coral, black, 70%));
  }
  &:hover {
    transform: translate(-50%, 44px);
    &:enabled {
      box-shadow: 0 -5px 0 0 mix(coral, black, 70%);
    }
    &:disabled {
      box-shadow: 0 -5px 0 0 grayscale(mix(coral, black, 70%));
    }
  }
  &:active:enabled {
    transform: translate(-50%, 40px);
    box-shadow: 0 -1px 0 0 mix(coral, black, 70%);
  }
}

.lockBtnColumn {
  display: flex;
  flex-direction: column;
}

.lockBtn {
  display: block;
  width: 23px;
  height: 21px;
  margin: 5px;
  border-radius: 3px;
  box-shadow: 0 -4px 0 0 grey;
  transition: ease-out 0.2s;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 0 grey;
  }
  &:active {
    transform: translateY(-3px);
    box-shadow: 0 -1px 0 0 grey;
  }
}

.lockBtn.default {
  background-color: lightgrey;
}

.lockBtn.right {
  box-shadow: 0 -4px 0 0 mix(grey, lightgreen, 40%);
  background-color: lightgreen;
  &:hover {
    box-shadow: 0 -3px 0 0 mix(grey, lightgreen, 40%);
    transform: translatey(-1px);
  }
}
.lockBtn.wrong {
  box-shadow: 0 -4px 0 0 mix(grey, lightcoral, 40%);
  background-color: lightcoral;
  &:hover {
    box-shadow: 0 -3px 0 0 mix(grey, lightcoral, 40%);
    transform: translatey(-1px);
  }
}

.try {
  display: flex;
  flex-direction: row;
  .tryLight {
    display: block;
    width: 13px;
    height: 13px;
    margin: 2px 2px;
    transform: translateY(10px);
    border-radius: 50%;
    &.used {
      background-color: indianred;
    }
    &.remain {
      background-color: lightgreen;
    }
  }
}

.reset {
  border: 0;
  border-radius: 8px;
  background-color: coral;
  display: block;
  width: 60px;
  height: 30px;
  box-shadow: 0 5px 0 0 mix(coral, black, 70%);
  &:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 0 0 mix(coral, black, 70%);
  }
  &:active {
    transform: translateY(3px);
    box-shadow: 0 2px 0 0 mix(coral, black, 70%);
  }
}
